<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-primary">
  <a class="navbar-brand" href="{{ site.baseurl }}/">
    {{ site.title }}
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav pull-right">
      {% for page in site.pages %} {% if page.title %}
      <li class="nav-item">
        <a class="nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      </li>
      {% endif %} {% endfor %} {% if site.github_username %}
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/{{ site.github_username }}">
          <i class="fab fa-github d-none d-md-inline"></i> <span class="d-md-none">GitHub</span>
        </a>
      </li>
      {% endif %} {% if site.linkedin %}
      <li class="nav-item">
        <a class="nav-link" href="https://www.linkedin.com/in/{{ site.linkedin }}">
          <i class="fab fa-linkedin d-none d-md-inline"></i> <span class="d-md-none">LinkedIn</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>