<nav class="navbar navbar-fixed-top navbar-dark bg-primary">
  <h1 class="navbar-brand">
    <a class="navbar-brand" href="{{ site.baseurl }}/">
      {{ site.title }}
    </a>
  </h1>

  <ul class="nav navbar-nav pull-right">
    {% for page in site.pages %}
      {% if page.title %}
        <li class="nav-item">
          <a class="nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        </li>
      {% endif %}
    {% endfor %}

    {% if site.github_username %}
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/{{ site.github_username }}">
          <i class="fa fa-github"></i>
        </a>
      </li>
    {% endif %}

    {% if site.google_plus %}
      <li class="nav-item">
        <a class="nav-link" href="https://google.com/+{{ site.google_plus }}">
          <i class="fa fa-google-plus"></i>
        </a>
      </li>
    {% endif %}

    {% if site.linkedin %}
      <li class="nav-item">
        <a class="nav-link" href="https://www.linkedin.com/in/{{ site.linkedin }}">
          <i class="fa fa-linkedin"></i>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
