@import "../styles/variables.css";

:root {
  --color-background: #2e3440;
  --color-foreground: #81a1c1;
  --color-primary: #81a1c1;
  --color-secondary: #88c0d0;
  --typography-font-family: Inter, Helvetica, Arial;
  --code-font-family: Fira Mono;

  --max-content-width: 960px;
  --font-size: 16px;

  @media (--breakpoint-sm-up) {
    --font-size: 18px;
  }

  @media (prefers-color-scheme: light) {
    --color-background: #e5e9f0;
    --color-foreground: #5e81ac;
    --color-primary: #5e81ac;
    --color-secondary: #81a1c1;
  }

  @media print {
    --font-size: 10px !important;
    --color-background: #fff;
    --color-foreground: #000;
    --color-primary: #000;
    --color-secondary: #000;
  }
}

html {
  font-family: var(--typography-font-family);
  font-size: var(--font-size);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  margin: 0 auto 0 auto;
  max-width: var(--max-content-width);
  padding: 0 1rem 1rem;
}

/* Text */
p {
  font-size: 1rem;
}

blockquote {
  border-left: 0.1rem solid var(--color-primary);
  margin: 1rem;
  padding: 0 0 0 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

/* Links */
:any-link {
  background-color: transparent;
  color: var(--color-primary);

  &:active,
  &:focus,
  &:hover {
    color: var(--color-secondary);
    outline: none;
  }
}

/* Buttons */
a.button {
  background-size: 0 100%;
  border: 0.1em solid var(--color-primary);
  border-radius: 0.5rem;
  color: var(--color-primary);
  font-size: 1.25rem;
  padding: 0.25em 0.5em;
  text-decoration: none;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s,
    box-shadow 0.5s;

  &:hover,
  &:focus {
    box-shadow: 0 0 0.1em 0.05rem var(--color-secondary);
    border-color: var(--color-secondary);
    outline: none;
  }

  &[aria-current="page"] {
    background-color: var(--color-primary);
    color: var(--color-background);
  }
}

/* Tables */
th {
  font-weight: bold;
}

/* Horizontal rules */
hr {
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  box-sizing: content-box;
  height: 0.1rem;
  margin: 1rem 0;
  padding: 0;
}

/* Code */
pre {
  border: 0.1rem solid var(--color-primary);
  border-radius: 0.5rem;
  padding: 1rem;
  overflow-x: auto;
}

code {
  font-family: var(--code-font-family);
}

/* Text selection */
a::selection,
code::selection,
footer::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
li::selection,
p::selection,
span::selection {
  /* Add 0.99 opacity otherwise Chrome will apply a default 🙄 */
  background-color: rgba(96, 125, 139, 0.99);
  color: var(--color-background);
  text-shadow: none;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar:horizontal {
  height: 0.75rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-track:horizontal {
  box-shadow: none;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
}

::-webkit-scrollbar-thumb:horizontal {
  border-radius: 0 0 0.3rem 0.3rem;
}
