@import "../styles/variables.css";

:root {
  --color-background: #2e3440;
  --color-foreground: #81a1c1;
  --color-primary: #81a1c1;
  --color-secondary: #88c0d0;
  --typography-font-family: Inter, Helvetica, Arial;

  --code-background: #2e3440;
  --code-font-family: Fira Mono;
  --code-token-atrule: #88c0d0;
  --code-token-attr-name: #a3be8c;
  --code-token-attr-value: #88c0d0;
  --code-token-boolean: #81a1c1;
  --code-token-builtin: #a3be8c;
  --code-token-cdata: #636f88;
  --code-token-char: #a3be8c;
  --code-token-class-name: #88c0d0;
  --code-token-comment: #636f88;
  --code-token-constant: #81a1c1;
  --code-token-deleted: #81a1c1;
  --code-token-doctype: #636f88;
  --code-token-entity: #81a1c1;
  --code-token-function: #88c0d0;
  --code-token-important: #ebcb8b;
  --code-token-inserted: #a3be8c;
  --code-token-keyword: #81a1c1;
  --code-token-number: #b48ead;
  --code-token-operator: #81a1c1;
  --code-token-prolog: #636f88;
  --code-token-property: #81a1c1;
  --code-token-punctuation: #81a1c1;
  --code-token-regex: #ebcb8b;
  --code-token-selector: #a3be8c;
  --code-token-string: #a3be8c;
  --code-token-symbol: #81a1c1;
  --code-token-url: #81a1c1;
  --code-token-variable: #81a1c1;

  --max-content-width: 960px;
  --font-size: 16px;

  @media (--breakpoint-sm-up) {
    --font-size: 18px;
  }

  @media (prefers-color-scheme: light) {
    --color-background: #e5e9f0;
    --color-foreground: #5e81ac;
    --color-primary: #5e81ac;
    --color-secondary: #81a1c1;
  }

  @media print {
    --font-size: 10px !important;
    --color-background: #fff;
    --color-foreground: #000;
    --color-primary: #000;
    --color-secondary: #000;
  }
}

html {
  font-family: var(--typography-font-family);
  font-size: var(--font-size);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  margin: 0 auto 0 auto;
  max-width: var(--max-content-width);
  padding: 0 1rem 1rem;
  text-underline-position: under;
}

/* Text */
p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0.5em 0;
}

blockquote {
  border-left: 0.1rem solid var(--color-primary);
  margin: 1rem;
  padding: 0 0 0 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.5em 0 0.25em;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5em 0 0.25em;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0.5em 0 0.25em;
}

/* Links */
:any-link {
  background-color: transparent;
  color: var(--color-primary);

  &:active,
  &:focus,
  &:hover {
    color: var(--color-secondary);
    outline: none;
  }
}

/* Buttons */
a.button {
  background-size: 0 100%;
  border: 0.1em solid var(--color-primary);
  border-radius: 0.5rem;
  color: var(--color-primary);
  font-size: 1.25rem;
  padding: 0.25em 0.5em;
  text-decoration: none;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s,
    box-shadow 0.5s;

  &:hover,
  &:focus {
    box-shadow: 0 0 0.1em 0.05rem var(--color-secondary);
    border-color: var(--color-secondary);
    outline: none;
  }

  &[aria-current="page"] {
    background-color: var(--color-primary);
    color: var(--color-background);
  }
}

/* Tables */
th {
  font-weight: bold;
}

/* Horizontal rules */
hr {
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  box-sizing: content-box;
  height: 0.1rem;
  margin: 1rem 0;
  padding: 0;
}

/* Code */
pre {
  background-color: var(--code-background);
  border: 0.1rem solid var(--color-primary);
  border-radius: 0.5rem;
  padding: 1rem;
  overflow-x: auto;
}

code {
  font-family: var(--code-font-family);
  padding: 0;

  & .token.bold,
  & .token.important {
    font-weight: bold;
  }
  & .token.italic {
    font-style: italic;
  }
  & .token.entity {
    cursor: help;
  }

  & .token.atrule {
    color: var(--code-token-atrule);
  }
  & .token.attr-name {
    color: var(--code-token-attr-name);
  }
  & .token.attr-value {
    color: var(--code-token-attr-value);
  }
  & .token.boolean {
    color: var(--code-token-boolean);
  }
  & .token.builtin {
    color: var(--code-token-builtin);
  }
  & .token.cdata {
    color: var(--code-token-cdata);
  }
  & .token.char {
    color: var(--code-token-char);
  }
  & .token.class-name {
    color: var(--code-token-class-name);
  }
  & .token.comment {
    color: var(--code-token-comment);
  }
  & .token.constant {
    color: var(--code-token-constant);
  }
  & .token.deleted {
    color: var(--code-token-deleted);
  }
  & .token.doctype {
    color: var(--code-token-doctype);
  }
  & .token.entity {
    color: var(--code-token-entity);
  }
  & .token.function {
    color: var(--code-token-function);
  }
  & .token.important {
    color: var(--code-token-important);
  }
  & .token.inserted {
    color: var(--code-token-inserted);
  }
  & .token.keyword {
    color: var(--code-token-keyword);
  }
  & .token.number {
    color: var(--code-token-number);
  }
  & .token.operator {
    color: var(--code-token-operator);
  }
  & .token.prolog {
    color: var(--code-token-prolog);
  }
  & .token.property {
    color: var(--code-token-property);
  }
  & .token.punctuation {
    color: var(--code-token-punctuation);
  }
  & .token.regex {
    color: var(--code-token-regex);
  }
  & .token.selector {
    color: var(--code-token-selector);
  }
  & .token.string {
    color: var(--code-token-string);
  }
  & .token.symbol {
    color: var(--code-token-symbol);
  }
  & .token.url {
    color: var(--code-token-url);
  }
  & .token.variable {
    color: var(--code-token-variable);
  }
}

/* Text selection */
a::selection,
code::selection,
footer::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
li::selection,
p::selection,
span::selection {
  /* Add 0.99 opacity otherwise Chrome will apply a default 🙄 */
  background-color: rgba(96, 125, 139, 0.99);
  color: var(--color-background);
  text-shadow: none;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar:horizontal {
  height: 0.75rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-track:horizontal {
  box-shadow: none;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
}

::-webkit-scrollbar-thumb:horizontal {
  border-radius: 0 0 0.3rem 0.3rem;
}
