---
import EventCard from "../components/EventCard.astro";
import { pastEvents, upcomingEvents } from "../data/events";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Events | Tyler Benfield">
  <section class="flex flex-col gap-6">
    <h2 class="text-2xl font-bold">Upcoming Events</h2>
    <div class="flex flex-col gap-8">
      {upcomingEvents.map((event) => <EventCard {...event} />)}
    </div>
  </section>

  <section class="mt-10 flex flex-col gap-6">
    <h2 class="text-2xl font-bold">Past Events</h2>
    <div class="flex flex-col gap-8">
      {pastEvents.map((event) => <EventCard {...event} />)}
    </div>
  </section>
</Layout>
