---
import Announcement from "../components/Announcement.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tyler Benfield">
  <Announcement />
  <main>
    <section class="headline">
      <img class="avatar" src="/me.webp" />
      <div>
        <h1>Hi, I'm Tyler.</h1>
        <p class="tagline">
          I'm a software engineer with a knack for databases.
        </p>
      </div>
    </section>
    <section class="bio">
      <p>
        Tyler is a software engineer with a focus on making databases and
        data-driven applications more approachable through education and
        tooling. With over 10 years of experience developing software in
        consulting, startups, and large organizations, he’s gathered a wealth of
        knowledge that he enjoys sharing with others. In his free time, he
        enjoys playing beach volleyball, hiking, and repairing arcade cabinets.
      </p>
    </section>
  </main>
</Layout>

<style>
  .avatar {
    border-radius: 25%;
    height: auto;
    width: 100%;
  }

  .headline {
    display: grid;
    grid-template-columns: 25% 75%;
    gap: var(--spacing-sm);
    align-items: center;
  }

  .headline h1 {
    font-size: 2rem;
  }

  .tagline {
    font-size: 3rem;
  }

  .bio {
    margin-top: var(--spacing-sm);
  }
</style>
