---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tyler Benfield">
  <section class="grid items-center gap-6 sm:grid-cols-[1fr_3fr]">
    <img
      class="aspect-square w-full rounded-3xl object-cover"
      src="/me.webp"
      alt="Tyler Benfield"
    />
    <div>
      <h1 class="mb-2 text-2xl font-bold sm:text-3xl">Hi, I'm Tyler.</h1>
      <p class="text-xl text-tokyo-fg-muted sm:text-2xl">
        I'm a software engineer with a knack for databases.
      </p>
    </div>
  </section>
  <section class="mt-6">
    <p class="text-lg leading-relaxed">
      Tyler is a software engineer with a focus on making databases and
      data-driven applications more approachable through education and tooling.
      With over 10 years of experience developing software in consulting,
      startups, and large organizations, he's gathered a wealth of knowledge
      that he enjoys sharing with others. In his free time, he enjoys playing
      beach volleyball, hiking, and repairing arcade cabinets.
    </p>
  </section>
</Layout>
