@media print {
  .root {
    text-align: justify;
  }
}

.panel {
  border: 0.1rem solid var(--color-primary);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.1rem;
  & section {
    flex-basis: 0;
    flex-grow: 1;
    padding: 0.5rem;
    & h3 {
      margin-top: 0;
    }
  }
}
