---

---

<div class="announcement" role="marquee">
  Find me at <a href="https://www.epicweb.dev/conf/tyler-benfield"
    >Epic Web Conf</a
  > on April 11
</div>

<style>
  .announcement {
    background: var(--nord15);
    color: var(--nord0);
    font-weight: bold;
    padding: var(--spacing-xs) var(--spacing-md);
    text-align: center;
  }

  .announcement a {
    color: var(--nord0);
    text-decoration: underline;
  }
</style>
