---

---

<div class="announcement" role="marquee">
  Catch my next talk at <a
    href="https://rvatech.com/rvatech-events/2024-rvatech-code-cloud-conference/"
    target="_blank">rvatech/ Code + Cloud</a
  > on Nov 21!
</div>

<style>
  .announcement {
    background: var(--nord15);
    color: var(--nord0);
    font-weight: bold;
    padding: var(--spacing-xs) var(--spacing-md);
    text-align: center;
  }

  .announcement a {
    color: var(--nord0);
    text-decoration: underline;
  }
</style>
