---

---

<div class="announcement" role="marquee">
  Catch my next talk at <a href="https://devignition.com/"
    >DevIgnition</a
  > on Nov 7!
</div>

<style>
  .announcement {
    background: var(--nord15);
    color: var(--nord0);
    font-weight: bold;
    padding: var(--spacing-xs) var(--spacing-md);
    text-align: center;
  }

  .announcement a {
    color: var(--nord0);
    text-decoration: underline;
  }
</style>
