@import "../styles/variables.css";

.root {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;

  @media (--breakpoint-sm-up) {
    flex-direction: row;
  }

  @media print {
    display: none;
  }
}

.iconLinks > a {
  margin: 0.5rem;
}

@media (--breakpoint-xs) {
  .iconLinks {
    margin-bottom: 0.5rem;
  }
}
