@import "../styles/variables.css";

.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.45rem;

  @media print {
    display: none;
  }
}

.print {
  align-items: center;
  display: none;
  flex-direction: row;
  justify-content: space-between;

  @media print {
    display: flex;
  }

  & .logo {
    max-width: 25%;
  }
}

.contact > a {
  display: block;
  margin-bottom: 0.25rem;
}

.logo {
  margin: 1rem;
  max-width: calc(100% - 2rem);
  width: 100%;
}

.links {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin: 0 auto;

  & > *:not(:first-child) {
    margin-left: 0.5rem;
  }
}

@media (--breakpoint-sm-up) {
  .root {
    flex-direction: row;
  }

  .logo {
    max-width: 400px;
  }

  .links {
    padding: 1.45rem 1.0875rem;
  }
}
