---

---

<header>
  <h1>Tyler Benfield</h1>
  <nav>
    <ul>
      <li>
        <a href="/">About</a>
      </li>
      <li>
        <a href="/events">Events</a>
      </li>
    </ul>
  </nav>
</header>

<style>
  header {
    color: var(--nord5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-md) var(--spacing-lg);
  }

  h1 {
    font-size: 2rem;
  }

  ul {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-sm);
    list-style: none;
    padding: 0;
  }

  a {
    color: var(--nord5);
    text-decoration: none;
  }

  a:hover,
  a:active {
    text-decoration: underline;
    text-underline-offset: 0.5em;
  }
</style>
