---
import "@fontsource/inter";
import Announcement from "../components/Announcement.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Tyler Benfield" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Announcement />
    <Navbar />

    <slot />

    <Footer />
  </body>
</html>

<style is:global>
  @import "../styles/nord.css";

  :root {
    --max-width: 1024px;

    --radius-sm: 10px;
    --radius-xl: 50px;

    --shadow-1: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

    --spacing-xs: 10px;
    --spacing-sm: calc(var(--spacing-xs) * 2);
    --spacing-md: calc(var(--spacing-xs) * 3);
    --spacing-lg: calc(var(--spacing-xs) * 4);
    --spacing-xl: calc(var(--spacing-xs) * 5);
  }

  html {
    font-family: Inter, system-ui, sans-serif;
    background: var(--nord0);
  }

  html,
  body {
    font-size: 10px;
    margin: 0;
  }

  main {
    background: var(--nord1);
    border-radius: var(--radius-xl);
    box-shadow: var(--shadow-1);
    color: var(--nord4);
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--spacing-md) var(--spacing-lg);
  }

  footer {
    color: var(--nord6);
    margin-top: var(--spacing-sm);
    padding: var(--spacing-sm) var(--spacing-md);
    text-align: center;
  }

  h1,
  h2,
  h3,
  h4,
  p {
    margin: var(--space-xs) 0;
    line-height: 1.25em;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  @media (prefers-color-scheme: light) {
    html {
      background: var(--nord4);
    }

    main {
      background: var(--nord5);
      color: var(--nord1);
    }

    footer {
      color: var(--nord3);
    }
  }

  @media screen and (min-width: 500px) {
    html,
    body {
      font-size: 20px;
    }

    footer {
      text-align: left;
    }
  }

  a {
    color: var(--nord8);
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
